<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Footer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="footer.css" rel="stylesheet">

</head>
<body>
<footer class="container-fluid text-center foot">

        <div class="copyrights">
            <p class="white-txt">D'alessio © 2018
                <br>
            </p>
            <hr class="dark-line">
            <a class="link" href="#">Contact Us</a>&nbsp
            <a class="link" href="#">Help</a>&nbsp
            <a class="link" href="#">Follow us</a>
            <br><br>
            <p class="white-txt small">
                D'alessio's business concept is to offer fashion and quality at the best price in 
                a sustainable way. 
                The content of this site is copyright-protected.           </p>
        </div>
</footer>
<script type="text/javascript">

</script>
</body>
</html>