<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/footer/footer.css">
<footer class="container-fluid text-center foot">
    <div class="copyrights">
        <svg height="1" width="2000">
		    <line x1="0" y1="0" x2="2000" y2="0" class="line-style" />
	    </svg>
        <p class="white-txt">D'alessio © 2018</p>
        <div class="link-btn">
            {{!-- <a class="link" href="#">CONTACT US</a>&nbsp
            <a class="link" href="#">HELP</a>&nbsp
            <a class="link" href="#">FOLLOW US</a>&nbsp --}}
           
                <i class="fa fa-globe foot" style="color:black"></i>&nbsp&nbsp&nbsp&nbsp
                <i class="fa fa-twitter fa-stack-1x fa-inverse foot" style="color:black"></i>&nbsp&nbsp&nbsp&nbsp
                <i class="fa fa-heart foot" style="color:darkred"></i>
        </div>
        <p class="white-txt small">
            D'alessio's business concept is to offer fashion and quality at the best price in 
            a sustainable way. 
            The content of this site is copyright-protected.
        </p>
    </div>
</footer>