<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/footer/footer.css">

<footer class="container-fluid text-center foot">
  <div class="copyrights">
    <footer class="page-footer font-small blue-grey lighten-5">
      <div class="container text-center text-md-left mt-5">
        <div class="row mt-3 dark-grey-text">
          <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
            <h6 class="text-uppercase font-weight-bold">D'alessio</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>  D'alessio's business concept is to offer fashion and quality at the best price in
              a sustainable way.
            The content of this site is copyright-protected.</p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">FOllOW US</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p><a class="dark-grey-text l-link" href="#!">Facebook</a></p>
            <p><a class="dark-grey-text l-link" href="#!">Twitter</a></p>
            <p><a class="dark-grey-text l-link" href="#!">Instagram</a></p>
            <p><a class="dark-grey-text l-link" href="#!">YouTube</a></p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">Useful links</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p><a class="dark-grey-text l-link" href="#!">Help</a></p>
            <p><a class="dark-grey-text l-link" href="#!">Customer Service</a></p>
            <p><a class="dark-grey-text l-link" href="#!">Legal & Privacy</a></p>
            <p><a class="dark-grey-text l-link" href="#!">FAQ</a></p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p><i class="fa fa-home mr-3"></i> Bangkok, BKK 10012, TH</p>
            <p><i class="fa fa-envelope mr-3"></i> dalessio@shop.com</p>
            <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center text-black-50 py-3">D'alessio © 2018
      </div>
    </footer>
    {{!-- <p class="white-txt small">
      D'alessio's business concept is to offer fashion and quality at the best price in
      a sustainable way.
      The content of this site is copyright-protected.
    </p> --}}
  </div>
</footer>