<header>
        <center>
            <div class="Head">
            <a href="#" class="log">Log in</a><span class="fontawesome-arrow-right">
                <img src="/images/logo-mai.png">
                <ul class="nav justify-content-end" style="padding-top: 30px">
                    <div class="row">
                        <div class="col-sm">
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">LADIES</a>
                                <a class="nav-link disabled" href="#">MEN</a>
                                <a class="nav-link disabled" href="#">KIDS</a>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        </center>
    </header>