<link rel="stylesheet" href="stylesheets/header/header.css">
<script type="text/javascript" src="/javascripts/shop/index.js"></script>

<header class="topbar responsive-header">
	<span class="topbar-left-showMoreLinks"></span>
	<div class="row">
		<div class="col-md-12 text-right">
			<ul class="topbar-right	">
				{{# if login }}
					<span class="username">{{ session.user.firstName }}</span>
					<span class="topbar-left-showMoreLinks"></span>
					<a href="http://localhost:3000/user/logout" class="loginGroup">Log Out</a>
					<span class="topbar-left-showMoreLinks"></span>
				{{ else }}
					<a href="http://localhost:3000/user/signin" class=" loginGroup">Log In</a>
					<span class="topbar-left-showMoreLinks"></span>
				{{/if}}
					<a href="http://localhost:3000/cart">My D'alessio</a>
					<span class="topbar-left-showMoreLinks"></span>
					<a href="" class=" country_and_currency">ประเทศไทย | THB</a>
					<span class="topbar-left-showMoreLinks"></span>
					<span class="topbar-left-showMoreLinks"></span>
			</ul>
		</div>
	</div>
	<a class="logo-img" href="http://localhost:3000/">
		<img src="/images/logo-mai.png" class="flex-logo responsive-images">
	</a>
	<nav class="mega-menu row">
		<div class="col-4">
			<a class="ladies-btn" href="#">LADIES</a>
			<div class="sub-menu">
				<ul>
					<li>Blah</li>
					<li>Blah</li>
					<li>Blah</li>
				</ul>
			</div>
		</div>
		<div class="col-4">
			<a class="men-btn" href="#">MEN</a>
			<div class="sub-menu">
				<ul>
					<li>Blah</li>
					<li>Blah</li>
					<li>Blah</li>
				</ul>
			</div>
		</div>
		<div class="col-4">
			<a class="kids-btn" href="#">KIDS</a>
			<div class="sub-menu">
				<ul>
					<li>Blah</li>
					<li>Blah</li>
					<li>Blah</li>
				</ul>
			</div>
		</div>
	</nav>

	<svg height="1" width="2000">
		<line x1="0" y1="0" x2="2000" y2="0" class="line-style" />
	</svg>
</header>