<link rel="stylesheet" href="stylesheets/header/header.css">

<header class="topbar responsive-header">
	<span class="topbar-left-showMoreLinks"></span>
	<div class="row">
		<nav class="col-md-12 text-right shift">
			<ul class="topbar-right">
				{{# if login }}
				<li>
					<a href="/user/profile" class="firstName">{{ session.user.firstName }}</a>
				</li>
				<span class="topbar-left-showMoreLinks"></span>
				<li>
					<a href="/user/logout" class="loginGroup">Log Out</a>
				</li>
				<span class="topbar-left-showMoreLinks"></span>
				<li>
					<a href="/cart">My D'alessio</a>
				</li>
				<span class="topbar-left-showMoreLinks"></span>
				{{ else }}
				<li>
					<a href="/user/login" class=" loginGroup">Log In</a>
				</li>
				<span class="topbar-left-showMoreLinks"></span>
				{{/if}}
			</ul>
		</nav>
	</div>
	<div class="logo-wrap">
		<a href="/" class="logo">
			<img src="/images/logo-mai.png" class="responsive">
		</a>
	</div>
	<nav class="mega-menu row">
		<a href="/product/ladies/page/1">LADIES</a>
		<span class="topbar-left-showMoreLinks"></span>
		<a href="/product/men/page/1">MEN</a>
		<span class="topbar-left-showMoreLinks"></span>
		<a href="/product/kids/page/1">KIDS</a>
	</nav>
</header>