<link rel="stylesheet" href="stylesheets/header/header.css">

<div class="topbar-container js-topbar-container">
<header class="topbar">
	<ul class="topbar-left">
			<li>
				<a href="https://www.hm.com/th/customer-service">Customer Service</a>
			</li>
			<li>
				<a href="https://www.hm.com/th/store-locator">Store Locator</a>
			</li>
        <span class="topbar-left-showMoreLinks">
            <p></p>
            <div class="topbar-dropdown">
                <ul>
                </ul>
            </div>
        </span>
    </ul>
    <ul class="topbar-right">
            <li>
                <a href="https://www.hm.com/th/login" class=" loginGroup">Log In                </a>
            </li>
            <li>
                <a href="https://www.hm.com/th/my-hm" class=" ">My H&amp;M                </a>
            </li>
            <li>
                <a href="https://www.hm.com/entrance.ahtml" class=" country_and_currency">ประเทศไทย | THB                </a>
            </li>
    </ul>
</header>
</div>
<!-- <header>

            <div class="Head">
            <a href="#" class="log">Log in</a><span class="fontawesome-arrow-right">
                <img src="/images/logo-mai.png" class="flex-logo">
                <ul class="nav justify-content-end" style="padding-top: 30px">
                    <div class="row">
                        <div class="col-sm">
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">LADIES</a>
                                <a class="nav-link disabled" href="#">MEN</a>
                                <a class="nav-link disabled" href="#">KIDS</a>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
    </header> -->
