.copyrights {
    margin-top:5px;
}

.foot {
   /* padding-left: 10%;*/
    font-size:36px;
}
    
footer.container-fluid.text-center.foot {
    background: white;
}

.dark-line{
    border-top: 1px solid #525252;
}

.page-footer {
    font-size: 40%;
}

.page-footer .dark-grey-text {
    font-size: 90%;
}

.l-link {
    font-size: 90%;
    color: #A52A2A;
}
 
.footer-copyright {
	padding-top: 10px;
	padding-bottom: 10px;
}
