.copyrights {
    margin-top:25px;
}

.link-btn {
    margin: 2.5%;
}
    
footer.container-fluid.text-center.foot {
    background: white;
}

.dark-line{
    border-top: 1px solid #525252;
}

.white-txt{
    color: black;
    font-size: 12.5px;
}

a.link {
    border-radius: 3px 3px 3px 3px;
    background-color: #000000;
	color: #eee;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
}

a.link:hover {
    background-color: #4F4F4F;
}

.footimg {
    width: 5rem;
}