<html>
    <head>
        <title>Login</title>
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="login.css">
        <!-- JS -->
        <script src="script.js"></script>
        <!-- Latest compiled and minified CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
        <header>
            <center>
            <div class="Head">
                <ul class="nav justify-content-end">
                    <div class="row">
                        <div class="col-sm">
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">LADIES</a>
                                <a class="nav-link disabled" href="#">MEN</a>
                                <a class="nav-link disabled" href="#">KIDS</a>
                            </li>
                        </div>
                        
                    </div>
                </ul>
            </div>
            </center>
            </header>

<center>
            <!-- login -->
            <div id="login">
                <form method="post">
                    <fieldset class="clearfix">
                        <p><span class="fontawesome-user"></span><input type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                        <p><span class="fontawesome-lock"></span><input type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
                        <p><input type="submit" value="Login"></p>
                    </fieldset>
                </form>
                <p>Not a member? <a href="#" class="blue">Sign up now</a><span class="fontawesome-arrow-right"></span></p>
                </div> <!-- end login -->
                
                </center>
                
            </div>
        </body>
    </html>