.topbar a{
    font-size: 12px;
    word-spacing: 0;
    letter-spacing: 0;
    color: black;
    /* font-family: HM Ampersand Regular,HelveticaNeue-Regular; */
}

.topbar-left-showMoreLinks {
    visibility: hidden;
    position: relative;
    margin-left: 20px;
}

.topbar-right span{
  color: blue;
  font-size: 15px;
}

.flex-logo {
    display: flex;
    flex-shrink: 1;
    flex-basis: 30%;
    z-index: 1;
    align-self: center;
    justify-content: space-around;
    align-content: center;
    margin: 0 auto;
    max-width: min-content;
    /* margin-left: 520px; */
}

.mega-menu {
    padding-top: 10px;
    font-size: 18px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.mega-menu .col-4 {
    margin: 0 15px 0 15px;
}

.sub-menu {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: white;
}

.ladies-btn:hover + .sub-menu, .men-btn:hover + .sub-menu, .kids-btn:hover + .sub-menu {
    display: block;
}

.line-style{
  stroke:rgb(220,220,220);
  stroke-width:3;
}

.responsive-images {
    width: 100%;
    height: auto;
    margin-bottom: 2%;
}

svg {
    padding-bottom: 20px;
}