<link href="stylesheets/shop/home.css" rel="stylesheet"> 




<div class="row">

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">  
        <img class="img-responsive" src="https://thegreenhubonline.com/wp-content/uploads/2017/04/Chanju-cold-shoulder-top-and-Veronica-Trousers-in-Blue-Pandora-4-1280x400.jpeg" alt="">
        <div class="overlay">
           {{!-- <h2>Hover effect 1</h2> --}}
           <a class="info" href="#">SHOP NOW</a>
        </div>
    </div>
</div>
</div>

<div class="row justify-content-center">

{{!-- box2--}}
<div class="col-lg-6 col-md-4">
    <div class="hovereffect-season">  
        <img class="img-responsive" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/hostedimages/1379776986i/362399._SX540_.jpg" alt="">
        <div class="overlay-season">
           {{!-- <h2>Hover effect 1</h2> --}}
           <a class="info" href="#">NEW ARRIVAL</a>
        </div>
    </div>
</div>

{{!-- box3--}}
<div class="col-lg-6 col-md-4s">
    <div class="hovereffect-hot">  
        <img class="img-responsive" src="https://www.boots.com/resource/image/517280/estore_sps_33/540/400/f5efa000b03c1d68ef4c75e6f6c09c06/th/16-12-403176-elegant-touch-cp-house-of-holland-sps33-03.jpg" alt="">
        <div class="overlay-hot">
           {{!-- <h2>Hover effect 1</h2> --}}
           <a class="info" href="#">WOMEN</a>
        </div>
    </div>
</div>


</div>

