<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="keywords" content="product">
        <title>Product</title>
        <link rel="stylesheet" href="product.css">
    </head>
    <body>
        <div class="container">
            <div class="split left">

                <img src="product_pic.png" alt="sweatshirt" height="50" width="50"></div>
                
            </div>

            <div class="split right">
                    <h1>
                        Sweatshirt $1,099
                    </h1>
                    <div class="details">
                            <dl class="options">
                                <dt>Colour:</dt>
                                <dd>
                                    
                                    <span class="selected" id="text-selected-article">Beige/Amour</span>
                                    <ul class="options articles clearfix" id="options-articles">
                                            <li id="option-article-15795-A"><a href="?article=15795-A"><span>Black</span></a></li>
                                            <li class="act" id="option-article-15795-D"><a href="?article=15795-D"><span>Beige/Amour</span></a></li>
                                            <li id="option-article-15795-E"><a href="?article=15795-E"><span>Light grey marl/Horses</span></a></li>
                                    </ul>
                                </dd>
                                
                                    <dt>Size:</dt>
                                    <dd>
                                        <span class="selected" id="text-selected-variant">
                                            SIZE XS - XL
                                        </span>
                                    </dd>
                                
                            </dl>
                                <p><a href="https://www.hm.com/th/sizeguide/sizeguide_ladies" title="Size Guide" id="link-sizeFit">Size Guide</a></p>
                                <p class="non-transactional">Online shopping is not currently offered in your market. Please visit your local H&amp;M store for availability.<br>Please note that some products, colors and sizes shown Online may not be available in your country or store.</p>
                            
                        </div>

                        <div class="btnContainer">
        
                                <p class="delivery-text"></p>
                            </div>
                            <div class="description">
                                
                                <h3 class="expanded last">Product description</h3>
                            
                                <h4>Description </h4>
                                <p>  
                                        Top in lightweight sweatshirt fabric with dropped shoulders, and ribbing around the neckline, cuffs and hem.
                                    <span class="deviation" id="text-deviation">
                                        
                                    </span>
                                </p>
                            
                                <h4>Details </h4>
                                <p>
                                    <span id="text-information">60% cotton, 40% polyester.</span>
                                    
                                        
                                        <span id="text-careInstruction">Machine wash at 30˚</span>
                                    
                                </p>   
                            </div>
                </div>

        </div>
    </body>
</html>
