.list-group {
    width: 100%;
}

.list-group-item {
    margin: 0;
}
.list-group-item .col-6 {
    padding-top: 15px;
}

.col-1, .col-2 {
    text-align: center;
    align-self: center;
    padding: 0;
}

.badge {
    margin: 0 auto;
}

.item-img {
    max-width: 100px;
}