ul, .colorlist {
    list-style-type: none;
}

.colorlist {
    display: -webkit-inline-box;
}

#colorShow {
    margin: 0;
    height: 17.5px;
    width: 17.5px;
    border-radius: 100%;

}

.color-filter {
    margin-left: 2%;
}

.pic {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
}

.pic:hover .overlay {
  opacity: 1;
}

.image2 {
  display: block;
  width: 100%;
  height: auto;
  color: white;
 /* font-size: 20px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.caption .title {
    color: black;
    font-size: 16px
}

.caption .price {
    color: #4F4F4F;
    font-size: 12px
}

.pagination.center, .pagination.center ul {
    float: left;
    position: relative;
}

.pagination.center { left: 33%; }
.pagination.center ul { left: -50%; } 

body {
    position: relative;
    overflow-x: hidden;
}
body, html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}


.category{
    color: #A52A2A;
    font-size: 2.5ch;
    width:100%;
}

.subcategory{
    color: black;
    font-weight: normal;
    width:100%;
}

/* filter */
.dropbtn {
    background-color: black;
    color: white;
    border: 0.5px solid black;
    padding: 8px 25px;
    cursor: pointer;
    position: relative;
    transition: .5s ease;
    margin-left: 2%;
}

.numitem{
    margin: 10px 0px 0px 2%;
}

.dropdown-content {
    display: none;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width:100%;
    position: relative;
    border: 0.5px solid rgba(128, 128, 128, 0.596);
    /* margin-left: 2%; */
    margin: 0px 2% 0px 2%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #A52A2A;
    color: white;
    border: 0.5px solid #A52A2A;
}

.caret{
    size: 100;
}

.color {
    color: #A52A2A;
    font-size: 1.7ch;
    width:100%;
    left: 10;
    margin: 10px 0px 0px 10px;
}

.black {
    border: 1px outset white;
    background-color: black;
    height:37px;
    width:37px;
    cursor:pointer;
    margin: 10px 0px 0px 10px;
}

.white {
    border: 1px outset black;
    background-color: white;
    height:37px;
    width:37px;
    cursor:pointer;
    margin: 10px 0px 0px 10px;
}

.red {
    border: 1px outset white;
    background-color: red;
    height:37px;
    width:37px;
    cursor:pointer;
    margin: 10px 0px 0px 10px;

}

.darkBth{
    color: #000000;
}



.blue {
    border: 1px outset white;
    background-color: rgb(86, 86, 247);
    height:37px;
    width:37px;
    cursor:pointer;    
    margin: 10px 0px 0px 10px;
}

.yellow {
    border: 1px outset white;
    background-color: rgb(255, 208, 0);
    height:37px;
    width:37px;
    cursor:pointer;    
    margin: 10px 0px 0px 10px;
}

.signatureColor{
    border: 1px outset white;
    background-color: #A52A2A;
    height:37px;
    width:37px;
    cursor:pointer;    
    margin: 10px 0px 0px 10px;
    color: white;
}

.clearfilter{
    border: 2px outset black;
    background-color: white;
    height:37px;
    width:120px;
    cursor:pointer;
    margin: 0px 0px 15px 300px;
}

.apply{
    border: 2px outset black;
    background-color: black;
    height:37px;
    width:90px;
    cursor:pointer;
    margin: 0px 0px 15px 10px;
    color: white;
}

.orderdropbtn {
    background-color: white;
    color: black;
    border: 0.5px solid rgba(128, 128, 128, 0.596);
    /* padding: 16px; */
    padding: 10px 15px;
    font-size: 16px;
    /* cursor: pointer; */
    position: relative;
    transition: .5s ease;
}

/* select dropdown */
.custom-select {
    position: relative;
    font-family: Arial;
    margin-left: 75%
  }
.custom-select select {
    display: none;
}
.select-selected {
    background-color: black;
}
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: black;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color:#A52A2A;
}